body {
	background: #f3f3f3;
	margin: 33px;
	color: #333;
	}
h1 {
	font: 2.0em Georgia, serif;
	}
h1 a:hover, h1 a:active {
	text-decoration: none;
	}
a:link {
	text-decoration: none;
	color: #2e59b0;
	}
a:visited {
	text-decoration: none;
	color: #b090b6;
	}
a:hover, a:active {
	text-decoration: underline;
	color: #145ee7;
	}
pre {
	font: 0.9em/1.3em "Courier New", Courier;
	margin: 3px 0;
	color: #777;
	}
pre img {
	display: inline;
        margin: 6px 0;
        vertical-align: middle;
        border: none;
	}

div.footer {
  margin-top: 20px;
  font-size: 90%;
  width: 770px;
}
